node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

# Environment
.env
.env.local

# Supabase
supabase/.branches
supabase/.temp

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo
